@model EPosta.Entity.Concrete.AppMessage
@{
    ViewData["Title"] = "ReceiverMessageDetail";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}


<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Gelen Mesaj İçerik</h4>

            <form class="forms-sample">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.AppMessageID, new { @type = "hidden" })
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Gönderen Mail</label>
                    @Html.TextBoxFor(x => x.SenderMail, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Konu</label>
                    @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword4">Mesaj</label>
                    @Html.TextAreaFor(x => x.Description, 20, 50, new { @class = "form-control" })
                </div>
                <a href="/Message/AddMessage" class="btn btn-primary">Yanıtla</a>
                <a href="/Message/ReceiverMessage" class="btn btn-secondary">Geri Dön</a>
            </form>
        </div>
    </div>
</div>