@using EPosta.Entity.Concrete
@model List<AppMessage>
@{
    ViewData["Title"] = "ReceiverMessage";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<html lang="en">

<body>

    <div class="container-fluid page-body-wrapper">

        <!-- partial:../../partials/_sidebar.html -->
        <!-- partial -->

        <div class="content-wrapper">

            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">GELEN KUTUSU</h4>
                        <p class="card-description">
                            Tablo:  <code>.Duyurular</code>
                        </p>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Konu</th>
                                        <th>Gönderen</th>
                                        <th>Tarih</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <th>@item.AppMessageID</th>
                                            <td>@item.Subject</td>
                                            <td>@item.SenderMail</td>
                                            <td>@item.Date.ToString("dd.MMM.yyyy")</td>
                                            <td><a href="/Message/ReceiverMessageDetail/@item.AppMessageID" class="btn btn-outline-secondary">Mesajı Gör</a></td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- page-body-wrapper ends -->
    </div>

</body>

</html>