@model EPosta.Entity.Concrete.Draft
@{
    ViewData["Title"] = "DraftView";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<form class="form-group" method="post">
    <label>Alıcı Mail Adresi</label>
    @Html.TextBoxFor(x => x.ReceiverMail, new { @class = "form-control", @required = "required" })
    <br />

    <label>Konu</label>
    @Html.TextBoxFor(x => x.Subject, new { @class = "form-control", @required = "required" })
    <br />

    <label>Mesaj</label>
    @Html.TextAreaFor(x => x.Description, 20, 50, new { @class = "form-control", @required = "required" })
    <br />

    <button class="btn btn-primary" href="/Draft/DraftView" itemid="btn1">Kaydet</button>
    <a href="/Draft/DraftBox" class="btn btn-secondary">Vazgeç</a>

</form>

